
.q {
    color: #00CCF8;
    scale: 1;
    transition: color 500ms ease-in-out; /* Ensure the transition applies to the color property */
    transition: scale 1000ms ease-in-out; /* Ensure the transition applies to the color property */
}

.q:hover {
    color: rgb(243, 241, 237); /* Color on hover */
    scale: 1.05;

    
}


.sCale{
    scale: 1;
    transition: scale 1s ease-in-out;

}
.sCale:hover{
    scale: 1.2;
}